.container{
  width: 960px;
  margin: 25px auto 0 auto;
}

@media screen and (max-width: $medium-breakpoint) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 50px);
  }
}
