.nav {
  color: #6a7180;
  @include card();
  background-color: #e74c3c;

  ul {
    margin: 0;
  }

  li {
    display: inline-block;
    margin: 0;
  }

  li a{
    font-size: 16px;
    display: inline-block;
    margin: 0;
    padding: 20px 15px;
    text-decoration: none;
  }

  .nav-right{
    float: right;
  }
  .nav-right-last{
    margin-right: 10px;
  }

  li a{
    color: white;
  }

  li a.active{
    border-bottom: 3px solid white;
  }

  .hamburger-menu{
    display: none;
  }
}



@media (max-width: $medium-breakpoint) {
  #mobile-nav{
    display: block;
  }

  .nav-right{
    float: none;
  }

  nav li.nav-item{
    display: none;

    a{
      width: calc(100% - 30px);
    }
  }
}
