.btn{
  padding: 10px 15px;
  border-radius: 3px;
  border: none;
  color: white;
}
a.btn{
  text-decoration: none;
  font-size: 10px;
  box-sizing: border-box;
  display: inline-block;
}
.btn-success{
  background-color: $emerald;

  :hover{
    background-color: darken($emerald, 5);
  }
}


.btn-primary{
  background-color: $midnight-blue;

  :hover{
    background-color: darken($midnight-blue, 5);
  }
}

.btn-default{
  background-color: $belize-hole;

  :hover{
    background-color: darken($belize-hole, 5);
  }
}

.btn-danger{
  background-color: $pomegranate;

  :hover{
    background-color: darken($pomegranate, 5);
  }
}

.btn-warning{
  background-color: $pumpkin;

  :hover{
    background-color: darken($pumpkin, 5);
  }
}