.card {
  @include card;
  background-color: $white;
  padding: 10px;

  h2{
    margin: 0;
  }
}

.full-width-card{
  @include card;
  background-color: $white;

  h2.card-title{
    padding: 20px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 17px;
    border-bottom: 1px solid #EDEDED;
  }
}


