
.flash-message-card{
  @include box-shadow;
  background-color: $white;
  padding: 10px 15px;
  width: calc(100% - 105px);
  border-left: 5px solid #5465C7;
  border-radius: 3px;
  p{
    margin: 0;
    font-size: 15px;
  }
}

