@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.margin-left-small {
  margin-left: 6px; }

.margin-left-medium {
  margin-left: 12px; }

.margin-left-large {
  margin-left: 24px; }

.hidden {
  display: none; }

.float-right {
  float: right; }

.float-left {
  float: left; }

@media screen and (max-width: 1024px) {
  .float-left {
    float: none; }
  .float-right {
    float: none; } }

body,
html {
  margin: 0;
  padding: 0; }

.container {
  width: calc(100% - 100px);
  margin: 25px auto; }

@media screen and (max-width: 1024px) {
  .container {
    margin-left: 50px;
    margin-right: 50px;
    width: calc(100% - 100px); }
  .job-extra-detail {
    display: none; } }

.nav {
  color: white;
  background-color: #5465C7; }
  .nav ul {
    margin: 0; }
  .nav li {
    display: inline-block;
    margin: 0; }
  .nav li a {
    font-size: 16px;
    display: inline-block;
    margin: 0;
    padding: 20px 15px;
    text-decoration: none; }
  .nav .nav-right {
    float: right; }
  .nav .nav-right-last {
    margin-right: 10px; }
  .nav li a {
    color: white; }
  .nav li a.active {
    border-bottom: 3px solid white; }
  .nav .hamburger-menu {
    display: none; }

@media (max-width: 1024px) {
  #mobile-nav {
    display: block; }
  .nav-right {
    float: none; }
  nav li.nav-item {
    display: none; }
    nav li.nav-item a {
      width: calc(100% - 30px); } }

.page {
  color: #ffffff;
  min-height: 100vh;
  text-align: center; }
  .page-title {
    color: #ffffff;
    margin: 0;
    padding: 40px 0; }

.btn {
  padding: 10px 15px;
  border-radius: 3px;
  border: none;
  color: white; }

a.btn {
  text-decoration: none;
  font-size: 10px;
  box-sizing: border-box;
  display: inline-block; }

.btn-success {
  background-color: #2ecc71; }
  .btn-success :hover {
    background-color: #29b765; }

.btn-primary {
  background-color: #2c3e50; }
  .btn-primary :hover {
    background-color: #233140; }

.btn-default {
  background-color: #2a84bf; }
  .btn-default :hover {
    background-color: #2576aa; }

.btn-danger {
  background-color: #c0392b; }
  .btn-danger :hover {
    background-color: #ab3326; }

.btn-warning {
  background-color: #d35400; }
  .btn-warning :hover {
    background-color: #ba4a00; }

.chip {
  display: inline-block;
  font-size: 12px;
  color: white;
  padding: 5px 10px;
  border-radius: 16px;
  margin-bottom: 5px; }

.chip-default {
  border: 1px solid #CFDAED;
  color: #34495e;
  font-weight: bold; }
  .chip-default :hover {
    border: 1px solid #bccce6; }

.chip-primary {
  background-color: #34495e; }
  .chip-primary :hover {
    background-color: #2b3c4e; }

.chip-success {
  background-color: #2ecc71; }
  .chip-success :hover {
    background-color: #29b765; }

.chip-danger {
  background-color: #bdc3c7; }
  .chip-danger :hover {
    background-color: #afb6bb; }

.well {
  min-height: 20px;
  padding: 5px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); }

.card {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  padding: 10px; }
  .card h2 {
    margin: 0; }

.full-width-card {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  width: calc(100% - 80px); }
  .full-width-card h2.card-title {
    padding: 20px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 17px;
    border-bottom: 1px solid #EDEDED; }

@media (max-width: 1024px) {
  .card {
    width: calc(100% - 40px); } }

input[type=text], input[type=email], input[type=password], textarea {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #DCDEE3;
  padding: 10px;
  font-size: 14px;
  box-sizing: border-box; }

.job-list__item {
  text-align: center;
  margin-bottom: 22px;
  background-color: #ffffff;
  width: calc((100% - 180px) / 6);
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); }
  .job-list__item__title {
    margin-bottom: 0;
    font-size: 17px; }
  .job-list__item__location {
    color: #6FB3FB;
    font-size: 12px; }
  .job-list__item__details {
    padding: 10px 0 0 0; }
    .job-list__item__details__description {
      font-size: 11px;
      color: #7D8896; }
    .job-list__item__details__view {
      border: none;
      padding-top: 15px;
      padding-bottom: 15px;
      border-top: 1px solid #CEDAED;
      color: #636B77;
      text-transform: capitalize;
      text-decoration: none;
      margin-top: 10px;
      font-size: 13px;
      display: inline-block;
      font-weight: bold; }

@media (max-width: 1024px) {
  .job-list__item {
    width: 100%;
    margin-right: 0; } }

.flash-message-card {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  padding: 10px 15px;
  width: calc(100% - 105px);
  border-left: 5px solid #5465C7;
  border-radius: 3px; }
  .flash-message-card p {
    margin: 0;
    font-size: 15px; }

a {
  color: #3498db; }

.job-links {
  padding: 10px 15px 20px 15px; }
  .job-links a {
    display: block; }
    .job-links a i {
      margin-right: 5px;
      text-decoration: none; }
  .job-links .job-link {
    color: #3498db; }
  .job-links .job-edit {
    color: #27ae60; }

.job-details section:first-of-type {
  padding: 5px 15px 20px 15px;
  border-top: none; }

.job-details section {
  padding: 20px 15px;
  border-top: 1px solid #EDEDED; }
  .job-details section p {
    font-size: 14px; }
  .job-details section h2 {
    font-weight: normal;
    font-size: 17px; }

.register-form h3 {
  margin-top: 0; }

.login-form h3 {
  margin-top: 0; }

.breadcrumb {
  background-color: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); }
  .breadcrumb__nav {
    margin: 0; }
  .breadcrumb__link {
    font-size: 16px;
    color: #34495E;
    list-style-type: none;
    display: inline-block;
    padding: 20px;
    text-decoration: none; }
    .breadcrumb__link--title {
      color: #43444D; }
    .breadcrumb__link--active {
      color: #5465C7; }

.board-jobs {
  background-color: white;
  padding: 10px 15px;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); }
  .board-jobs__list {
    width: 100%;
    border-collapse: collapse; }
  .board-jobs__header {
    background-color: white; }
  .board-jobs__row {
    font-size: 14px; }
  .board-jobs__link-button {
    margin-top: 10px;
    font-size: 13px !important; }
  .board-jobs__link {
    text-decoration: none; }
    .board-jobs__link--default {
      color: #3498db; }
    .board-jobs__link--danger {
      color: #e74c3c; }
  .board-jobs__column {
    padding: 20px 10px; }
    .board-jobs__column--title {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ecf0f1;
      color: #90949D;
      text-transform: capitalize;
      margin-bottom: 20px;
      font-weight: normal;
      font-size: 15px; }

.register-button {
  background-color: #2c3e50;
  padding: 10px 50px;
  border: none;
  color: white;
  border-radius: 20px;
  font-size: 13px;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block; }
  .register-button:hover {
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
    background-color: #233140; }

header.preview {
  background-color: #5465C7;
  height: 700px;
  text-align: center; }
  header.preview .landing-title {
    color: white;
    padding-top: 50px; }
    header.preview .landing-title h1 {
      font-size: 50px; }
    header.preview .landing-title p {
      font-size: 20px; }
  header.preview section.preview-images {
    width: 1209px;
    margin: 0 auto;
    padding-top: 180px; }
    header.preview section.preview-images img.first-preview-image {
      margin-right: -300px; }
    header.preview section.preview-images img.last-preview-image {
      margin-left: 300px; }
    header.preview section.preview-images img.middle-preview-image {
      z-index: 1;
      position: absolute;
      margin-top: -80px; }
    header.preview section.preview-images img {
      box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
      height: 400px; }

section.selling-point section.selling-point-details {
  text-align: left;
  display: inline-block;
  width: 310px;
  margin-left: 50px; }
  section.selling-point section.selling-point-details h1 {
    color: #000000; }
  section.selling-point section.selling-point-details h1 span.selling-point-highlight {
    border-bottom: 2px solid #5465C7; }

section.selling-point {
  margin: 200px auto 0 auto;
  width: 960px;
  max-width: 960px; }
  section.selling-point:last-of-type {
    margin-bottom: 50px; }
  section.selling-point section.selling-point-details-left {
    float: left; }
  section.selling-point section.selling-point-details-right {
    float: right; }
  section.selling-point section.selling-point-preview {
    display: inline-block; }
  section.selling-point section.selling-point-preview img {
    width: 600px; }

section.selling-point:first-of-type {
  margin-top: 400px; }

@media (max-width: 1024px) {
  .landing-page {
    padding: 10px; }
  header.preview {
    padding: 10px;
    width: calc(100% - 20px);
    display: inline-block;
    height: inherit; }
    header.preview .landing-title {
      padding-top: 0; }
    header.preview .register-button {
      margin-top: 100px;
      margin-bottom: 20px; }
  header.preview .preview-images {
    display: none; }
  section.selling-point:first-of-type {
    margin-top: 20px; }
  section.selling-point {
    float: none;
    width: 100%;
    max-width: 100%;
    margin-top: 50px; }
    section.selling-point section.selling-point-preview img {
      width: 100%; }
    section.selling-point section.selling-point-details {
      margin: 0;
      width: 100%; } }

.job-list {
  padding: 10px;
  display: -webkit-box;
  display: flex;
  flex-flow: wrap;
  -webkit-box-pack: start;
  justify-content: flex-start; }

form p:first-child {
  margin-top: 10px; }

form p:first-of-type {
  margin-top: 10px; }

form p {
  font-size: 14px;
  margin: 5px 0 2px 0; }

input, textarea {
  margin-bottom: 15px;
  font-size: 14px; }

.input-description {
  max-width: 100%;
  min-height: 150px; }

.import-details {
  padding: 10px; }

.import-details section:first-of-type {
  padding: 5px 15px 20px 15px;
  border-top: none; }

.import-details section {
  padding: 20px 15px;
  border-top: 1px solid #EDEDED; }
  .import-details section p {
    font-size: 14px; }
  .import-details section h2 {
    font-weight: normal;
    font-size: 17px; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  min-height: 100%;
  background-color: #F6F7F8; }

/*# sourceMappingURL=app.css.map */
